/**
Main styles
**/
* {
  box-sizing: border-box;
}

body {
background-color: #fff;
font-family: sans-serif;
}

main{
  margin: auto;
  padding: 10px 20px;
}

.field{
  padding: 10px 20px;
}

input[type="text"]{
  background: rgba(255,255,255,0.1);
  border: 1px solid black;
  font-size: 16px;
  height: auto;
  margin: 0 auto;
  outline: 0;
  padding: 15px;
  width: 60%;
  background-color: #fff;
  color: #8a97a0;
  border-radius: .5em;
  display: flex;
}
.cell {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content:center;
  }
  .cell a {
    margin: 10px;
  }
